<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
    reiciendis minus in inventore eveniet, temporibus quod deserunt quaerat
    quis veritatis!
  </p>
  <footer>
    <div class="media">
      <div class="media__image quote__line">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="quote__organization">Mosh Company CEO</p>
      </div>
    </div>
  </footer>
</blockquote>